{% extends 'base.html'%}
{% block head %}
 <h1>Feedback Form</h1>
{% endblock %}
{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li class="flash-message">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('submit_feedback') }}">
    <label for="professor">Select Professor:</label>
    <select id="professor" name="professor_id">
        {% for professor in professors %}
            <option value="{{ professor.id }}">{{ professor.name }}</option>
        {% endfor %}
    </select>
<br><br>
    {% for question in questions %}
        <label for="{{ question.qid}}">{{ question.question }}</label>
        <input type="number" name="{{ question.qid|string }}" min="1" max="5" required><br>
    {% endfor %}
<br><br>
    <button type="submit">Submit Feedback</button>
</form>
{% endblock %}