{% extends 'base.html'%}

{% block head %}
    <h1>Manage Feedbacks</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manage_feedbacks.css') }}">
{% endblock %}

{% block body %}
    <h1>Feedbacks</h1>

    <ul>
        {% for question in questions %}
            <li>
                {{ question.qid }} - Question: {{ question.question }}
                <a href="{{ url_for('edit_question', qid=question.qid) }}">Edit</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
